@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap');

/*------------header style-------------------------------*/
body{
    padding: 0px;
    margin: 0px;
}
h1,h2,h3,h5,p,a{
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}
header{
    display: flex;
    padding: 0 4%;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
}
#logo{
    height: 50px;
    padding: 0 10px;
}
#sign-in{
    display: flex;
    padding: 14px 16px;
    justify-content: center;
    align-items: center;
    gap: 19px;
}
#sign-in a{
    font-size: 16px;
    font-weight: 700;
}
#register{
    background: #0075FF;
    color: #FFF;
    padding: 10px 18px;
}
#register:hover{
    background: #024694;
}
#connect{
    color: #181818;
}
#connect:hover{
    color: #0075FF;
}
nav{
    margin-left: 13vh;
    display: flex;
    padding: 8px 11px;
    justify-content: center;
    align-items: center;
    gap: 29px;
    list-style: none;
}
nav a{
    color: #181818;
    font-size: 16px;
    font-weight: 600;
}
nav a:hover{
    color: #0075FF;
}
#here{
    color: #0075FF;
}
/*------------header style-------------------------------*/


section.principal{
    display: flex;
    justify-content: center;
    background-color: #FFF;
}

.principal h1{
    margin-top: 50px;
}
.topActu{
    display: flex;
    gap: 65px;
}
.topActu div{
    width: 426px;
    height: 500px;
}
.topActu img{
    width: 100%;
}
.topActu h2{
    color: #090909;
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    margin-top: 33px;
}
.topActu p{
    color: #121212;
    font-size: 20px;
    font-weight: 500;
    margin-top: 7px;
}
.bottomActu{
    display: flex;
    gap: 65px;
}
.bottomActu div div{
    display: flex;
    width: 426px;
}
.bottomActu div div img{
    width: 120px;
    height: 120px;
    margin-bottom: 40px;
}
.txt{
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: 15px;
}
.txt h2{
    margin: 0;
    margin-top: 18px;
}
.txt p{
    margin: 0;
    margin-top: 4px;
}

section.vide{
    background: #FFF;
    height: 30vh;
}


section.registerPart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 33px;
    height: 40vh;
}

.registerPart h3{
    color: #000;
    font-size: 36px;
    font-weight: 700;
    width: 759px;
    text-align: center;
    margin: 0;
}

#registerBot{
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    background: #0075FF;
    padding: 14px 35px;
    margin: 0;
}

#registerBot:hover{
    background: #024694;
}

/*------------footer style-------------------------------*/

footer{
    background: #1A1A1A;
    height: 45vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
footer p{
    color: #FFF;
    font-size: 13px;
    font-weight: 500;
}
.infoFooter{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 44vw;
}
.infoFooter p{
    margin: 4px 0 4px 0;
}
.infoFooter a{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}
.infoFooter h3{
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
}
.infoFooter img{
    margin-top: 5px;
}
